{% extends 'base/base.html' %}

{% block content %}
<h1>Добро пожаловать на сайт «Статистика текста»!</h1>

Мы помогаем анализировать тексты и получать подробную статистику по ним. С помощью нашего сервиса вы сможете узнать количество букв, цифр, длину строки, подсчитать слова и многое другое.

<h2>Что мы предлагаем?</h2>

<p>Анализ текста: Вы можете загрузить текст или скопировать его в специальное поле для анализа. Мы быстро и точно подсчитаем все необходимые параметры.</p>
<p>Подробная статистика: После анализа вы получите подробную статистику о вашем тексте. Вы увидите количество букв, слов, символов, а также другие важные параметры.</p>
<p>Удобство использования: Наш сервис прост и удобен в использовании. Вам не нужно иметь специальные навыки или знания, чтобы получить нужную информацию.</p>
<h2>Как это работает?</h2>

<ol>
    <li>Загрузите текст или скопируйте его в поле для анализа.</li>
    <li>Нажмите кнопку «Анализировать».</li>
    <li>Дождитесь результатов анализа.</li>
    <li>Изучите полученную статистику.</li>
</ol>

Не упустите возможность получить полезную информацию о ваших текстах! Попробуйте наш сервис прямо сейчас!

<h3>Контакты</h3>

Если у вас есть вопросы или предложения, вы можете связаться с нами по электронной почте (не надо). Мы всегда рады помочь вам!

<hr>

<p class="text-muted">Данный текст был составлен с помощью Yandex.GPT3</p>
<p class="text-muted">А еще его можно проверить в <b>тестах</b>, что выводится именно этот контент!</p>
{% endblock %}